---
import Layout from '../../layouts/Layout.astro';
import Main from '../../components/sections/Main.astro';

import LessonDetail from '../../components/LessonDeatil.astro'
import Accordion from '../../components/Accordion.astro';
import AccordionItem from '../../components/AccordionItem.astro';
---

<Layout title="Yapay Zeka ve Python">
    <Main>
        <LessonDetail 
            titleOfLesson="Yapay Zeka ve Python"
            descOfLesson="Bu eğitimimizde Python programlama dilini öğrenmek ve yapay zeka konusunda temel bilgileri öğreneceksiniz."
            imgSrc="/illustrations/ai.svg"
            breadcrumb="Yapay Zeka ve Python Eğitimi"
            price="450.90"
            itemList="{ itemList: ['Eğitim dili Türkçedir', 'Orta seviye Python bilgisi gereklidir']}"
        />
        <Accordion>
            <AccordionItem
                itemTitle="Yapay Zeka Çağına Hazır Mısınız?"
                itemList="{itemList : ['Giriş', 'Günlük Hayattan Örnekler', 'Derin Öğrenme Uygulamaları', 'Yapay Zeka Çağında Nasıl Hayatta Kalınır', 'Sizi Sizden Daha İyi Tanıyan Algoritmalar']}"
                itemID="1"
                itemIDWithHashtag="#1"
            />

            <AccordionItem
                itemTitle="Veri Bilimine Giriş"
                itemList="{itemList : ['Ver, Bilimi ve Veri Bilimci Kavramları', 'Verideki Faydalı Bilgileri Bulmak', 'Veri Bilimi Proje Döngüsü']}"
                itemID="2"
                itemIDWithHashtag="#2"
            />
            <AccordionItem
                itemTitle="Veri Bilimi ve Yapay Zeka İçin Python"
                itemList="{itemList : ['Numpy', 'Pandas', 'Seaborn', 'Tensorflow']}"
                itemID="3"
                itemIDWithHashtag="#3"
            />
            <AccordionItem
                itemTitle="PHP OOP"
                itemList="{itemList : ['PHP ile OOP Giriş', 'PHP ile OOP İleri Seviye']}"
                itemID="4"
                itemIDWithHashtag="#4"
            />
            <AccordionItem
                itemTitle="Python OOP"
                itemList="{itemList : ['Python ile OOP Giriş', 'Python ile OOP İleri Seviye']}"
                itemID="5"
                itemIDWithHashtag="#5"
            />
        </Accordion>

    </Main>
</Layout>