---
import Main from "../components/sections/Main.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="404 Not Found">
    <Main>

        <div class="row mb-5">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 class="text-dark display-3">Hata!</h1>
                    <h2 class="display-6 text-secondary">404 Not Found</h2>
                    <p class="mt-4 fs-5">Ulaşmaya çalıştığınız sayfa silinmiş ya da hiç varolmamış...</p>
                    <div>
                        <a href="/" class="btn btn-primary btn-lg me-5">
                            <i class="fa-solid fa-house me-2"></i>
                            Ana Sayfaya Dön
                        </a>
                        <a href="https://sonatipek.com" target="_blank" class="btn btn-outline-primary btn-lg">
                            <i class="fa-solid fa-terminal me-2"></i>
                            Geliştirici ile İletişime Geç
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </Main>




</Layout>