---
import LessonCard from "../components/LessonCard.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../components/sections/Main.astro";
---

<Layout title="Eğitimler">
    <Main>
        <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
            <!-- Card -1 -->
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/illustrations/ai.svg'); background-size: cover;">
                    <LessonCard 
                        title="Nesne Tabanlı Programlama - OOP"
                        href="/egitimler/nesnetabanliprogramlama"
                    />
                </div>
            </div>

            <!-- Card -2 -->
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/illustrations/shopping.svg);background-size: cover;">
                    <LessonCard 
                        title="Yapay Zeka ve Python"
                        href="/egitimler/yapayzeka"
                    />
                </div>
            </div>

            <!-- Card -3 -->
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/illustrations/hackermind.svg');background-size: cover;">
                    <LessonCard 
                        title="Modern Web Tasarım Temelleri"
                        href="/egitimler/modernwebtasarim"
                    />
                </div>
            </div>

            <!-- Card -4 -->
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/illustrations/website.svg');background-size: cover;">
                    <LessonCard 
                        title="T-SQL ve Veri Tabanı Yönetim Sistemleri"
                        href="/egitimler/veritabani"
                    />
                </div>
            </div>
    
        </div>
    </Main>
</Layout>