---
import Basket from "../components/Basket.astro";
import Main from "../components/sections/Main.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Sepet">
    <Main>
        <Basket />
    </Main>
</Layout>