---
import Main from "../components/sections/Main.astro";
import Layout from "../layouts/Layout.astro";
import Pricing from "../components/Pricing.vue";
---

<Layout title="Ücret Bilgileri">
    <Main className="px-5 mt-5 mb-5">
          <Pricing></Pricing>
    </Main>
</Layout>