---
---
<div class="position-relative overflow-hidden m-md-3 text-center">
    <div class="col-md-6 mx-auto my-5">
      <img src="/illustrations/programmer.svg" alt="programmer svg" height="250">
      <h1 class="display-5 text-primary-emphasis">SSI Akademi <i class="fa-solid fa-graduation-cap"></i></h1>
      <h3 class="fw-normal text-secondary mb-3">Samsun Atakum Yerleşkesi</h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="btn btn-lg btn-primary" target="_blank" href="https://github.com/sonatipek">
          <i class="fa-brands fa-github"></i>
          Eğitmen GitHub Sayfası
        </a>
        <a class="btn btn-lg btn-outline-primary" href="/egitimlerimiz">
          <i class="fa-solid fa-school me-2"></i>
          Eğitimlerimiz
        </a>
      </div>
    </div>
</div>