---


---

<footer class="border-top p-4">
  <div class="text-center text-secondary">
    Tüm hakları saklıdır. Copyright
    © <script>
      document.write(new Date().getFullYear()) 
    </script>
    &nbsp;Sonat Saygın Ipek
    <a href="https://sonatipek.com" class=" text-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank">Creative Tim</a>.
  </div>
</footer>
  
  