---

---
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded container" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex " id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="/"><img src="/brand/logo_brand.svg" alt="logobrand"></a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" :class="" aria-current="page" href="/">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/egitimler">Eğitimler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/planlar">Ödeme Planları</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/istekler">İstek Listesi</a>
        </li>
      </ul>


      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <a href="/sepet" class="btn btn-primary px-4">
          <i class="fa-solid fa-cart-shopping me-3"></i>
          Sepet
        </a>
      </div>

    </div>
  </div>
</nav>

<style>
  .nav-item:hover{
    border-bottom: 3px solid #0d6efd;
  }

</style>